body {
    font-family: 'Roboto Mono',monospace;
    min-height: 400px;
    color:#ffffff;
    background-image: url('337-3371635_must-have-seamless-patterns-for-website-backgrounds-blue.jpg');
  }
  
  input {
    border-radius: 25px;
    padding: 5px;
    margin: 5px;
  }
  
  input[type=number]{
    width: 50px;
  }
  
  .container {
    text-align: center;
    padding: 30px;
    height: 100vh;
  }
  
  .page-title {
    margin: 0 0 5px;
    color: lightgreen;
  }
  
  .page-subtitle {
    font-size: 40px;
    color: palegoldenrod;
   
  }
  .texto{
    font-size: 40px
  
   
  }
  .resultado {
    font-size: 20px;
    margin: 10px;
    border-radius: 5px;
    padding: 5px;
    width: 30%;
    margin-left: auto;
    margin-right: auto; 
    background-color: rgb(255,100,50);
  }
  
  .cod_fonte{
    text-align: left;
  }
  